 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am currently the Digital Technologies Librarian at Marist College, where I manage all the Libraries web infrastructure. This role entails building and updating the library's website (custom HTML, PHP, CSS, and JavaScript) and the Archives and Special Collections digital exhibits platform (Omeka S). I am also responsible for integrating, troubleshooting, and developing workflows to connect the library's many third-party, cloud-hosted applications - Alma/Primo VE, LibApps, Tipasa and ReShare Interlibrary Loan systems, PastPerfect, ArcLight, and Archipelago to our locally-managed systems.</p>
                </div>
                <div class="col-lg-4">
                    <p>Before Marist, I've held several librarian and IT positions at NC State and Duke universities that afforded me opportunities to work in all aspects of information technology, from designing technical infrastructure, developing custom applications, and teaching workshops to support evolving library and research and teaching needs to managing large system migrations and building highly-trafficked public websites. I am a life-long learner who enjoys combining his ever evolving technical skills and critical skills learned as an English major to take on information-based and educational challenges.</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            -->
            </div>
        </div>
    </section>
